@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

:root {
  --brown: #8a2b06;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  background-color: #222;
}

/********** app **********/
.app {
  position: relative;
}
.app__img {
  height: 15rem;
  background: url(./images/restaurant.jpg);
  background-position: 0% 70%;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 65%, 0% 100%);
}
.app__img img {
  width: 90%;
  height: 90%;
  object-fit: cover;
}

/********** cart modal **********/
.cart-modal--background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.76);
  z-index: 1;
}
.cart-modal {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 30rem;
  padding: 1rem;
  padding-top: 0;
  background-color: #fff;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  z-index: 2;
  animation: showModal 0.4s;
}
.cart-modal main {
  max-height: 15rem;
  overflow-y: auto;
}
.cart-modal__amount {
  display: flex;
  justify-content: space-between;
}
.cart-modal__amount span {
  font-size: 1.5rem;
  font-weight: 900;
}
.cart-modal__actions {
  text-align: right;
}
.cart-modal__actions button {
  padding: 0.6rem 1.4rem;
  border: 1px var(--brown) solid;
  border-radius: 50px;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
  font-size: 0.8rem;
  font-weight: 600;
}
.cart-modal__actions--close {
  background-color: transparent;
  color: var(--brown);
}
.cart-modal__actions--close:hover {
  background-color: var(--brown);
  color: #fff;
}
.cart-modal__actions--order {
  margin-left: 0.7rem;
  background-color: var(--brown);
  color: #fff;
}
.cart-modal__actions--order:hover {
  background-color: #5a1c03;
}

/********** cart modal item **********/
.cart-modal-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px var(--brown) solid;
}
.cart-modal-item__info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  gap: 0.5rem 1rem;
}

.cart-modal-item__info h3 {
  grid-area: 1 / 1 / 2 / 3;
}
.cart-modal-item__info h4 {
  grid-area: 2 / 1 / 3 / 2;
  color: var(--brown);
}
.cart-modal-item__info p {
  grid-area: 2 / 2 / 3 / 3;
  width: fit-content;
  height: fit-content;
  margin-left: 0.7rem;
  padding: 0.2rem 0.6rem;
  color: #555;
  border: 1px #888 solid;
  border-radius: 5px;
  text-align: center;
  font-size: 0.8rem;
}
.cart-modal-item__actions button {
  width: 2.5rem;
  height: 1.7rem;
  line-height: 1rem;
  background-color: #8a2b0628;
  color: var(--brown);
  border: 1px var(--brown) solid;
  border-radius: 5px;
  font-size: 1.5rem;
  transition: 0.2s;
  cursor: pointer;
}
.cart-modal-item__actions button:hover {
  background-color: #8a2b0659;
}
.cart-modal-item__actions button:nth-child(2) {
  margin-left: 0.7rem;
}

/********** header **********/
.header-card {
  background-color: var(--brown);
  color: #fff;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
}
.header h1 {
  display: flex;
  align-items: center;
  gap: 0.1rem;
}

/********** header cart **********/
.header-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 3rem;
  background-color: #3f1707;
  color: #fff;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
}
.header-cart.bump {
  animation: bump 0.5s;
}
.header-cart:hover {
  background-color: #2b0f04;
}
.header-cart__amount {
  padding: 0.3rem 0.8rem;
  background-color: var(--brown);
  border-radius: 50px;
}

/********** meals summary **********/
.meals-summary-card {
  padding: 0 1rem;
}
.meals-summary {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 700px;
  margin: auto;
  padding: 1rem;
  background-color: #383838;
  color: #fff;
  border-radius: 10px;
  transform: translateY(-7rem);
  box-shadow: 0 0 40px #080808;
  text-align: center;
}

/********** meals list **********/
.meals-list-card {
  width: 100%;
  padding: 0 1rem;
}
.meals-list {
  max-width: 1000px;
  margin: auto;
  padding: 0.5rem 1.5rem;
  background-color: #fff;
  border-radius: 10px;
  transform: translateY(-3.5rem);
}

/********** meal item **********/

.meal-item {
  position: relative;
  display: grid;
  grid-template-areas:
    "name amount"
    "description ."
    "price btn";
  justify-content: space-between;
  padding: 1rem 0;
}
.meal-item:not(:last-child) {
  border-bottom: 1px #ccc solid;
}
.meal-item__name {
  grid-area: name;
  font-size: 1.1rem;
  font-weight: 600;
}
.meal-item__description {
  grid-area: description;
  color: #777;
}
.meal-item__price {
  grid-area: price;
  color: var(--brown);
  font-size: 1.1rem;
  font-weight: 900;
}
.meal-item__amount {
  display: flex;
  gap: 0.6rem;
  grid-area: amount;
}
.meal-item__amount input {
  width: 2.2rem;
  outline: none;
}
.meal-item__btn {
  grid-area: btn;
  padding: 0.5rem 0;
  background-color: var(--brown);
  color: #fff;
  border: none;
  border-radius: 50px;
  transition: 0.1s;
  cursor: pointer;
}
.meal-item__btn:hover {
  background-color: #b63c0c;
}

/********** animation **********/
@keyframes showModal {
  /* 0% {
    transform: translate(-50%, -50%) scale(0.4);
  }
  40% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  70% {
    transform: translate(-50%, -50%) scale(0.7);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  } */
  from {
    transform: translate(-50%, -80%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
@keyframes bump {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

/********** media query **********/
@media screen and (max-width: 768px) {
  .cart-modal {
    width: 25rem;
  }
  .header {
    padding: 1rem 0.2rem;
  }
  .header-cart {
    padding: 0.5rem 1rem;
  }
}
@media screen and (max-width: 425px) {
  .header {
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
  }
  .header-cart {
    width: 100%;
  }
  .cart-modal {
    width: 19rem;
  }
  .cart-modal-item {
    flex-direction: column;
    gap: 1rem;
  }
  .cart-modal-item__info {
    justify-items: center;
  }
  .cart-modal-item__actions button {
    width: 7rem;
  }
}
